/* body */
body {
    /* background-color: #fbfbfb !important; */
    background-color: #f8f6f6 !important;
    
}
/* footer */
footer {
    background: #fafbac !important;
    border-top: 1px solid #FE3130;
}
/* Icono del navbar */
.navIcon{
    border-radius: 10px;
}
/* Carrusel */
#carouselContainer {
    display: flex;
    max-height: 500px;
}

.nosotrosBordes {
    border: 1px solid #FE3130;
    border-radius: 20px;
}



.productosBordes {
    border: 1px solid #FE3130;
    background-color: #fff;
    border-radius: 20px;
}

.botonesBordes,
.acordeonBorde {
    border: 1;
    border-radius: 20px;
}

.botonIngredientes {
    border-radius: 20px !important;
    background-color: #fafbac !important;
}

.imgProduct,
.imgPersonal {
    border-radius: 20px;
}

.subrayados {
    border-bottom: 2px solid #fafbac;

}

.listBurger {
    border-bottom: 2px solid #fafbac !important;
}
/* Seccion presentacion personal */
.personalLore {
    min-height: 300px !important;
    background-color: #fafbac;
}
.subtittlePersonal {
    border-bottom: 2px solid #FE3130 !important
}


.navbarMain {
    background-color: #fafbac;
}

.boton {

    border-right: 1px solid #FE3130;
}

/* Footer */


/* Formulario de contacto y reclamos */

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

#hablemos {
    text-align: center;
}

.formulario {
    border: 1px solid #FE3130;
    background-color:#fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.submit {
    background-color: #fafbac !important;
    border: none !important;
}

/* Fin del formulario */